body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

*:focus {
  outline: none; }

.btn-fix {
  position: relative;
  z-index: 99; }

.popover {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.label-style10 {
  background-color: #ba68c8; }

.error {
  border-color: #a94442; }
  .error:focus {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.navbar-default {
  background: none;
  border-bottom: 2px solid #339ACC; }
  .navbar-default .navbar-header > a {
    padding-top: 9px;
    font-weight: 500;
    color: #646F80; }
    .navbar-default .navbar-header > a .logo {
      float: left;
      margin-top: 7px; }
    .navbar-default .navbar-header > a span {
      color: #339ACC;
      position: relative;
      top: 15px;
      left: 10px; }
    .navbar-default .navbar-header > a:focus {
      outline: none; }
    .navbar-default .navbar-header > a:hover {
      color: #339ACC; }
  .navbar-default .navbar-collapse.collapsing {
    opacity: 0.5; }
  .navbar-default .navbar-collapse.collapse .navbar-nav > li > a.ativo {
    color: #339ACC; }
  .navbar-default .navbar-collapse.collapse .navbar-nav > li > ul.dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    top: 80%;
    right: -25%; }
    .navbar-default .navbar-collapse.collapse .navbar-nav > li > ul.dropdown-menu:before {
      content: '\f0d8';
      font-family: FontAwesome;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      top: -19px;
      right: 46%;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.195); }
  .navbar-default .navbar-collapse.collapse.in .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px; }
  .navbar-default .navbar-nav > li > ul > li > a {
    color: #646F80;
    font-weight: 500; }
  .navbar-default .navbar-nav > li > a {
    color: #646F80;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #339ACC; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #339ACC;
      outline: none; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #339ACC;
    background: none; }

.form-group span.error {
  color: #a94442;
  margin-top: 7px;
  display: block; }

.alert-warning {
  color: #8a6d3b;
  background-color: #FCF4BB;
  border-color: #faebcc; }

.label-danger {
  background-color: #e53935; }

.label-bloqueado {
  background-color: black;
  color: #ffffff; }

.label-consulta {
  background-color: #00C89D;
  color: #ffffff; }

.separador-style01 {
  border-bottom: 1px solid #e7ebf3;
  margin: 20px 0 32px; }

.btn-style06 {
  font-family: inherit;
  color: #339ACC;
  border-color: #339ACC;
  background-color: white;
  font-weight: 500; }
  .btn-style06:hover {
    background-color: rgba(51, 154, 204, 0.05);
    color: #339ACC; }

.btn-style07 {
  font-family: inherit;
  color: #646F80;
  border-color: #646F80;
  background-color: white;
  font-weight: 500; }
  .btn-style07:hover {
    background-color: rgba(150, 163, 182, 0.05);
    color: #646F80; }

.btn-style08 {
  font-family: inherit;
  color: #646F80;
  border-color: #cccccc;
  background-color: white;
  font-weight: 500; }
  .btn-style08:hover {
    background-color: rgba(150, 163, 182, 0.05);
    color: #646F80; }

.btn-group > .btn + .dropdown-toggle {
  height: 34px; }

.cor-texto-padrao-2 {
  color: #363636; }

.texto-style10 {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 13px;
  color: #646F80;
  font-weight: 600; }

.padrao-msg .alert {
  margin-top: 30px;
  margin-bottom: 0; }

.estilo-padrao .padrao-topo {
  height: 70px;
  line-height: 70px;
  background: #F7F8FB;
  border-bottom: 1px solid #e7ebf3; }
  .estilo-padrao .padrao-topo #remover_prontuario:focus {
    outline: none; }
  .estilo-padrao .padrao-topo .breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
    height: 70px; }
    .estilo-padrao .padrao-topo .breadcrumb li {
      height: initial;
      font-size: 17px; }
      .estilo-padrao .padrao-topo .breadcrumb li a {
        color: #339ACC; }
      .estilo-padrao .padrao-topo .breadcrumb li.active {
        color: #363636; }
  .estilo-padrao .padrao-topo .btn-group {
    float: right;
    margin-top: 17px; }
.estilo-padrao .padrao-info {
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #e7ebf3; }
  .estilo-padrao .padrao-info p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #646F80; }
  .estilo-padrao .padrao-info .lista-abas {
    display: inline-table; }
    .estilo-padrao .padrao-info .lista-abas li {
      padding: 0;
      margin-right: 20px; }
      .estilo-padrao .padrao-info .lista-abas li a {
        padding: 0 7px;
        display: block;
        height: 50px;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        -moz-outline: 0;
        outline: 0;
        color: #646F80; }
      .estilo-padrao .padrao-info .lista-abas li.active a {
        color: #339ACC;
        border-bottom: 1px solid #339ACC; }
      .estilo-padrao .padrao-info .lista-abas li:last-child {
        margin-right: 0; }
.estilo-padrao .padrao-conteudo .buscando_por {
  margin-bottom: 10px; }
  .estilo-padrao .padrao-conteudo .buscando_por span {
    color: #646F80;
    font-weight: 500;
    font-size: 24px;
    margin-top: -13px; }
  .estilo-padrao .padrao-conteudo .buscando_por .panel-default {
    margin-top: 15px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #CAD0DA;
    min-height: 35px; }
    .estilo-padrao .padrao-conteudo .buscando_por .panel-default .panel-body {
      color: #646F80; }
.estilo-padrao .padrao-conteudo h4 {
  margin: 0;
  padding: 0; }
.estilo-padrao .padrao-conteudo form {
  margin: 0; }
.estilo-padrao .padrao-conteudo .grupo-pront {
  padding: 40px 0;
  color: #363636;
  border-bottom: 1px solid #e7ebf3; }
  .estilo-padrao .padrao-conteudo .grupo-pront textarea {
    resize: vertical;
    -moz-resize: vertical; }
  .estilo-padrao .padrao-conteudo .grupo-pront h4.title {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    color: #339ACC;
    margin-bottom: 20px; }
  .estilo-padrao .padrao-conteudo .grupo-pront .form-group .panel-body {
    padding: 14px 15px 15px; }
  .estilo-padrao .padrao-conteudo .grupo-pront .pront_radio_input {
    margin-right: 10px;
    padding: initial; }
    .estilo-padrao .padrao-conteudo .grupo-pront .pront_radio_input + .pront_radio_input {
      margin-left: 0; }
    .estilo-padrao .padrao-conteudo .grupo-pront .pront_radio_input input {
      position: initial;
      margin: 0;
      margin-right: 3px; }
.estilo-padrao .padrao-conteudo .topo-lista-personalizada, .estilo-padrao .padrao-conteudo .rodape-lista-personalizada {
  width: 100%;
  display: inline-table;
  margin-bottom: 13px;
  font-size: 13px;
  color: #646F80;
  font-weight: 600; }
.estilo-padrao .padrao-conteudo .titulo-lista-personalizada {
  font-size: 15px;
  color: #363636;
  font-weight: 500; }
.estilo-padrao .padrao-conteudo .info-lista-personalizada {
  font-weight: 400;
  font-size: 13px;
  color: #646F80;
  display: table; }
  .estilo-padrao .padrao-conteudo .info-lista-personalizada ul {
    padding: 0;
    margin: 0;
    list-style-position: inside; }
    .estilo-padrao .padrao-conteudo .info-lista-personalizada ul li {
      float: left;
      padding-left: 9px; }
      .estilo-padrao .padrao-conteudo .info-lista-personalizada ul li:first-child {
        padding-left: 0;
        list-style-type: none; }
.estilo-padrao .padrao-conteudo .acoes-lista-personalizada {
  margin-top: 3px; }
.estilo-padrao .padrao-conteudo .padrao-lista {
  padding: 30px 0; }
  .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .panel-body {
    padding-top: 10px;
    padding-bottom: 10px; }
  .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .form-group {
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
    margin-top: 1px; }
  .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .titulo-lista-personalizada {
    height: 33px; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .titulo-lista-personalizada .identificador_unico {
      float: left;
      margin-right: 15px;
      padding-top: 11px; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .titulo-lista-personalizada .tipo_usuario {
      display: inline-table;
      float: left;
      margin-right: 15px;
      padding-top: 11px; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .titulo-lista-personalizada .nome_usuario {
      float: left;
      line-height: 33px; }
  .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .acoes-lista-personalizada {
    margin-top: 0px; }
  .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info {
    color: #646F80;
    font-weight: 500;
    font-size: 14px; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info a.link-local {
      color: #339ACC;
      border: none;
      background: none; }
      .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info a.link-local:hover {
        text-decoration: underline; }
      .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info a.link-local:focus {
        outline: none; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info span.link-local {
      color: #339ACC; }
    .estilo-padrao .padrao-conteudo .padrao-lista .padrao-item .padrao-lista-info .popover-title {
      color: #363636;
      font-size: 15px;
      font-weight: 500;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      text-transform: capitalize; }

#paciente .falta_modal label {
  font-size: 13px;
  color: #646F80; }
#paciente .falta_modal h4 {
  color: #363636;
  font-weight: 500;
  font-size: 24px; }
#paciente .falta_modal .panel-default .panel-body b {
  font-weight: 500; }
#paciente .falta_modal .panel-default .panel-footer {
  color: #646F80; }
  #paciente .falta_modal .panel-default .panel-footer b {
    color: #646F80;
    font-weight: 500;
    font-size: 14px; }
  #paciente .falta_modal .panel-default .panel-footer .texto {
    line-height: 20px;
    margin-top: 6px; }
#paciente .padrao-lista {
  padding-top: 0; }
#paciente .opcoes_topo {
  margin-bottom: 30px; }
#paciente .padrao-conteudo .info-lista-personalizada ul li {
  float: initial;
  display: inline; }
#paciente .por-cento {
  line-height: 33px;
  font-weight: 500;
  color: #646F80;
  font-size: 15px; }
#paciente .label-id-pront {
  background: #A7A7A7; }
#paciente .padrao-conteudo .padrao-conteudo-section {
  padding: 20px 0; }
#paciente .paciente-ver {
  padding: 10px 0 30px; }
  #paciente .paciente-ver label {
    font-size: 13px;
    color: #646F80; }
    #paciente .paciente-ver label.texto-pequeno {
      font-size: 11px;
      margin-bottom: 8px; }
  #paciente .paciente-ver .panel-default {
    background-color: none;
    border-radius: 3px;
    box-shadow: none;
    padding: 12px 15px;
    border: 1px solid #CAD0DA; }
    #paciente .paciente-ver .panel-default .panel-body {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      color: #757E8D; }
#paciente #consultas .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #paciente #consultas .panel-default .panel-body {
    color: #646F80; }
#paciente #consultas .topo-lista-personalizada .consulta-dia {
  color: #646F80;
  font-weight: 500;
  font-size: 24px; }
  #paciente #consultas .topo-lista-personalizada .consulta-dia .label {
    font-size: 14px;
    margin-right: 0px;
    position: relative;
    top: -4px;
    background-color: #ddd;
    color: #646F80; }
#paciente #consultas .label-hora {
  background-color: #646F80;
  position: relative;
  top: -3px; }
#paciente #consultas .hora-inicio {
  margin-right: 10px;
  margin-left: 5px; }
#paciente #consultas .hora-fim {
  margin-left: 10px;
  margin-right: 5px; }
#paciente #consultas .consulta-horas {
  height: 33px;
  line-height: 33px; }
  #paciente #consultas .consulta-horas .icone-direita {
    color: #646F80; }
  #paciente #consultas .consulta-horas .hora-inicio,
  #paciente #consultas .consulta-horas .hora-fim {
    font-size: 15px;
    font-weight: bold;
    color: #646F80; }

.login {
  min-height: 100%;
  background: #3399cc; }
  .login .logo {
    margin: 100px auto 10px;
    display: block; }
  .login .logo-nome {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 10px auto 30px; }
  .login .login-form {
    margin-bottom: 200px;
    padding: 40px;
    width: 100%;
    min-height: 240px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #ffffff; }
    .login .login-form label {
      font-weight: 500;
      font-size: 15px;
      color: #646F80; }

.usuario label {
  font-size: 13px;
  color: #646F80; }
.usuario .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  .usuario .panel-default .panel-body {
    color: #646F80; }
.usuario #vincular-paciente label {
  font-size: 13px;
  color: #646F80; }
.usuario #vincular-paciente #pacientes_vinculados li {
  border-color: #CAD0DA;
  color: #757E8D;
  padding: 15px 20px; }
  .usuario #vincular-paciente #pacientes_vinculados li .botao_rm {
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 5px 7px;
    font-size: 12px;
    margin-top: -1px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 3px; }

#meu-perfil .form-group label {
  font-size: 13px;
  color: #646F80; }
#meu-perfil .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #meu-perfil .panel-default .panel-body {
    color: #646F80; }

#candidato .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #candidato .panel-default .panel-body {
    color: #646F80; }
#candidato .alta_modal label {
  font-size: 13px;
  color: #646F80; }
#candidato .alta_modal h4 {
  color: #363636;
  font-weight: 500;
  font-size: 24px; }
#candidato .alta_modal .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #candidato .alta_modal .panel-default .panel-body {
    color: #646F80; }
#candidato .padrao-info .tipo_cadastro {
  display: initial;
  position: relative;
  top: -1px; }
#candidato .buscar-candidato {
  margin-top: 30px; }
#candidato .filtrar-candidato {
  margin-top: 30px; }
#candidato .padrao-lista {
  padding-top: 0;
  margin-top: 20px; }
#candidato .candidato-ver {
  padding: 30px 0; }
  #candidato .candidato-ver label {
    font-size: 13px;
    color: #646F80; }
    #candidato .candidato-ver label.texto-pequeno {
      font-size: 11px;
      margin-bottom: 8px; }
  #candidato .candidato-ver .panel-default {
    background-color: none;
    border-radius: 3px;
    box-shadow: none;
    padding: 12px 15px;
    border: 1px solid #CAD0DA; }
    #candidato .candidato-ver .panel-default .panel-body {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      color: #757E8D; }
#candidato .informacao-de-datas {
  border-top: 1px solid #e7ebf3; }
  #candidato .informacao-de-datas .info-lista-personalizada {
    margin: 0 auto; }

#prontuario .info-lista-personalizada {
  margin: 0 auto; }
#prontuario .prontuario-metadata {
  text-align: center; }
  #prontuario .prontuario-metadata ul.datas li {
    border: none; }
#prontuario .prontuario_bloqueado {
  margin-top: 18px; }
#prontuario .prontuario-consultar .panel-default {
  padding: 0px 8px 8px 9px;
  min-height: 35px; }
  #prontuario .prontuario-consultar .panel-default .panel-footer {
    margin-top: 10px; }
#prontuario .prontuario-consultar .panel-body.sem-opcao {
  padding: 14px 15px 7px 8px; }
#prontuario .prontuario-consultar ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #prontuario .prontuario-consultar ul li {
    display: inline-block;
    border: 1px solid #D3D9E4;
    padding: 5px 10px;
    border-radius: 3px;
    color: #646F80;
    font-size: 13px;
    font-weight: 400;
    margin-top: 9px; }
#prontuario label {
  font-size: 13px;
  color: #646F80; }
  #prontuario label.texto-pequeno {
    font-size: 11px;
    margin-bottom: 8px; }
#prontuario .panel-default {
  background-color: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 12px 15px;
  border: 1px solid #CAD0DA; }
  #prontuario .panel-default .panel-body {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #757E8D; }
  #prontuario .panel-default .panel-footer {
    padding: 0;
    border-top: none;
    margin-top: 13px;
    margin-bottom: 2px; }
    #prontuario .panel-default .panel-footer .input-group-addon {
      background: none;
      border-color: #CAD0DA; }
    #prontuario .panel-default .panel-footer input {
      background: #ffffff; }

#configuracoes .no-padding-top {
  padding-top: 0; }
#configuracoes .no-border-bottom {
  border-bottom: none; }
#configuracoes .campos-perso {
  padding: 40px 0;
  color: #363636;
  border-bottom: 1px solid #e7ebf3; }
  #configuracoes .campos-perso .cinza {
    color: #646F80; }
#configuracoes .quadrado-redondo {
  display: block;
  color: #757E8D;
  margin-bottom: -1px;
  min-height: 52px;
  border: 1px solid #CAD0DA;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px 15px 8px 15px; }
  #configuracoes .quadrado-redondo button {
    float: right;
    margin-right: -7px; }
  #configuracoes .quadrado-redondo label {
    font-size: 13px;
    margin-top: 7px;
    color: #646F80; }
#configuracoes .grupo-campo-perso label {
  font-size: 13px;
  color: #646F80; }
#configuracoes .grupo-campo-perso .opcao {
  margin-top: 10px; }
  #configuracoes .grupo-campo-perso .opcao:first-child {
    margin-top: 0; }
  #configuracoes .grupo-campo-perso .opcao .input-group-addon {
    border-left: none; }
    #configuracoes .grupo-campo-perso .opcao .input-group-addon label {
      cursor: pointer;
      font-size: 12px;
      color: #757E8D;
      margin-bottom: 0; }
  #configuracoes .grupo-campo-perso .opcao .opcao_remover {
    padding: 1px 0;
    color: #757E8D;
    font-size: 18px; }
#configuracoes .grupo-campo-perso .panel-default {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA; }
  #configuracoes .grupo-campo-perso .panel-default .panel-body {
    font-size: 14px;
    font-weight: 400;
    color: #757E8D; }
  #configuracoes .grupo-campo-perso .panel-default .panel-footer {
    border-color: #CAD0DA; }
#configuracoes .config-horario-section label {
  font-size: 13px;
  color: #646F80; }
#configuracoes .config-horario-section #horarios_lista {
  padding-left: 0;
  margin-bottom: 20px; }
  #configuracoes .config-horario-section #horarios_lista li.horario-item {
    display: block;
    color: #757E8D;
    margin-bottom: -1px;
    min-height: 50px;
    border: 1px solid #CAD0DA;
    background-color: #ffffff; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item.nenhum {
      padding: 15px 20px; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item span.horario-item-nome {
      display: table;
      height: 50px;
      line-height: 50px;
      padding: 0 40px 0 20px;
      float: left;
      font-weight: 500; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs {
      padding: 11px 0;
      display: table; }
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .icone-direita {
        margin-left: 20px; }
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-inicio,
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-fim {
        display: inline; }
        #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-inicio input,
        #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-fim input {
          border: 1px solid #ccc;
          padding: 3px 3px;
          width: 85px;
          margin-left: 10px;
          cursor: pointer;
          text-align: center;
          border-radius: 4px; }
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-inicio {
        margin-left: 3px; }
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-inputs .horario-item-fim {
        margin-left: 20px; }
    #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-remover {
      text-align: right;
      padding: 15.5px 0; }
      #configuracoes .config-horario-section #horarios_lista li.horario-item div.horario-item-remover .remover {
        margin-right: 20px;
        font-size: 18px;
        cursor: pointer; }

#consulta .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #consulta .panel-default .panel-body {
    color: #646F80; }
#consulta .topo-lista-personalizada .consulta-dia {
  color: #646F80;
  font-weight: 500;
  font-size: 24px; }
  #consulta .topo-lista-personalizada .consulta-dia .label {
    font-size: 14px;
    margin-right: 0px;
    position: relative;
    top: -4px;
    background-color: #ddd;
    color: #646F80; }
#consulta .label-hora {
  background-color: #646F80;
  position: relative;
  top: -3px; }
#consulta .hora-inicio {
  margin-right: 10px;
  margin-left: 5px; }
#consulta .hora-fim {
  margin-left: 10px;
  margin-right: 5px; }
#consulta .consulta-horas {
  height: 33px;
  line-height: 33px; }
  #consulta .consulta-horas .icone-direita {
    color: #646F80; }
  #consulta .consulta-horas .hora-inicio,
  #consulta .consulta-horas .hora-fim {
    font-size: 15px;
    font-weight: bold;
    color: #646F80; }
#consulta .filtrar-lista {
  margin-top: 30px; }
  #consulta .filtrar-lista .titulo {
    color: #646F80;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 13px; }
#consulta .consulta_horario label {
  font-size: 13px;
  color: #646F80; }
#consulta .horario_consulta_topo {
  border: 1px solid #ffffff;
  padding: 0px 15px; }
#consulta .consulta_horario_item {
  margin-bottom: 15px;
  display: block;
  color: #757E8D;
  min-height: 52px;
  border: 1px solid #CAD0DA;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 11px 15px; }
  #consulta .consulta_horario_item span.error {
    color: #a94442;
    margin-top: 7px;
    display: block; }
  #consulta .consulta_horario_item .consulta_horario_campo_hora {
    width: 100px; }
  #consulta .consulta_horario_item .consulta_horario_campo_data {
    width: 200px; }
  #consulta .consulta_horario_item .opcao_remover {
    font-size: 18px;
    color: #757E8D;
    line-height: 32px;
    cursor: pointer;
    margin-left: 20px; }
  #consulta .consulta_horario_item .table-content {
    line-height: 32px;
    font-weight: 500; }

#bateria .bateria-ver label {
  font-size: 13px;
  color: #646F80; }
#bateria .panel-default {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #CAD0DA;
  min-height: 35px; }
  #bateria .panel-default .panel-body {
    color: #646F80; }
  #bateria .panel-default.users-bateria .panel-body {
    padding: 10px; }
  #bateria .panel-default.users-bateria ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #bateria .panel-default.users-bateria ul li {
      display: inline-block;
      border: 1px solid #D3D9E4;
      padding: 5px 10px;
      border-radius: 3px;
      color: #646F80;
      font-size: 13px;
      font-weight: 400; }

#inicio {
  margin-top: 30px; }
  #inicio .panel-default {
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #CAD0DA;
    min-height: 35px; }
    #inicio .panel-default .panel-body {
      color: #646F80; }
  #inicio .data-hoje .dia-da-semana {
    color: #939EAE;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px; }
  #inicio .data-hoje .numero-dia,
  #inicio .data-hoje .mes-com-ano {
    font-weight: 500;
    color: #646F80;
    text-align: center; }
  #inicio .data-hoje .mes-com-ano {
    font-size: 30px;
    margin-bottom: 40px; }
  #inicio .data-hoje .numero-dia {
    font-size: 80px;
    margin: 15px 0; }
  #inicio .inicio-bateria .titulo {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
    color: #646F80; }
  #inicio .inicio-bateria .nome-bateria {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color: #A0AABB;
    font-weight: 500; }
  #inicio .inicio-bateria .bloqueada-bateria {
    margin: 10px auto 5px;
    display: table; }
  #inicio .inicio-bateria .panel-footer {
    padding: 15px 15px; }
    #inicio .inicio-bateria .panel-footer .titulo {
      text-align: center; }
    #inicio .inicio-bateria .panel-footer .bateria-data {
      text-align: center;
      margin-top: 3px;
      color: #646F80;
      font-weight: 500;
      font-size: 13px; }
  #inicio .lista-padrao.lista-prontuarios {
    margin-top: 30px; }
  #inicio .lista-padrao .panel-default {
    margin-bottom: 13px; }
    #inicio .lista-padrao .panel-default .panel-body {
      padding: 10px 15px; }
  #inicio .lista-padrao .topo-lista {
    height: 34px;
    line-height: 34px;
    margin-bottom: 15px; }
    #inicio .lista-padrao .topo-lista .titulo {
      font-weight: 500;
      font-size: 24px;
      color: #646F80; }
    #inicio .lista-padrao .topo-lista .btn {
      float: right; }
  #inicio .lista-padrao .lista-item .btns {
    float: right; }
  #inicio .lista-padrao .lista-item .nome {
    font-weight: 500;
    line-height: 33px; }
    #inicio .lista-padrao .lista-item .nome a {
      cursor: pointer;
      font-weight: 500;
      line-height: 33px;
      color: #646F80;
      border-bottom: 1px dotted #ccc; }
      #inicio .lista-padrao .lista-item .nome a:hover {
        text-decoration: none;
        border-bottom: 1px dotted #646F80; }
  #inicio .lista-padrao .lista-item .data {
    line-height: 33px; }
    #inicio .lista-padrao .lista-item .data .label {
      position: absolute; }
    #inicio .lista-padrao .lista-item .data .label-hoje {
      background-color: #DC4949;
      top: 9px;
      left: 32px; }
    #inicio .lista-padrao .lista-item .data .label-amanha {
      background-color: #EDA657;
      top: 9px; }
    #inicio .lista-padrao .lista-item .data span.data-numeros {
      font-weight: 500;
      margin-left: 60px; }
  #inicio .lista-padrao .lista-item .completado {
    line-height: 33px; }
    #inicio .lista-padrao .lista-item .completado .label {
      position: absolute; }
    #inicio .lista-padrao .lista-item .completado .label-bloqueado {
      background-color: #000;
      top: 9px;
      left: 0px; }
    #inicio .lista-padrao .lista-item .completado span.completado-numeros {
      font-weight: 500;
      margin-left: 60px; }
  #inicio .lista-padrao .lista-item .horas {
    line-height: 33px;
    display: inline-table; }
    #inicio .lista-padrao .lista-item .horas .label-hora {
      background-color: #646F80;
      position: relative;
      top: -2px; }
    #inicio .lista-padrao .lista-item .horas .hora-inicio {
      margin-left: 6px;
      margin-right: 6px; }
    #inicio .lista-padrao .lista-item .horas .hora-fim {
      margin-left: 6px;
      margin-right: 6px; }
    #inicio .lista-padrao .lista-item .horas .hora-inicio,
    #inicio .lista-padrao .lista-item .horas .hora-fim {
      font-weight: bold; }
  #inicio .lista-padrao .lista-item .botao {
    float: right; }

#usuario .buscar-usuario {
  margin-top: 30px; }
  #usuario .buscar-usuario .form-group {
    margin-bottom: 0; }
#usuario .falta_modal h4 {
  color: #363636;
  font-weight: 500;
  font-size: 24px; }
#usuario .falta_modal .panel-default .panel-body b {
  font-weight: 500; }
#usuario .falta_modal .panel-default .panel-footer {
  color: #646F80; }
  #usuario .falta_modal .panel-default .panel-footer b {
    color: #646F80;
    font-weight: 500;
    font-size: 14px; }
  #usuario .falta_modal .panel-default .panel-footer .texto {
    line-height: 20px;
    margin-top: 6px; }

/*# sourceMappingURL=base.css.map */
