$primary-color: #339ACC;
$text-color: #363636;
$text-color2: #646F80;
$text-color3: #646F80;

$font-family: 'Helvetica Neue', Helvetica,sans-serif;
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
}

*:focus {
    outline: none;
}

.btn-fix {
    position: relative;
    z-index: 99;
}

.popover{
    font-family: $font-family;
}

.label-style10{
    background-color: #ba68c8;
}

.error{
    border-color: #a94442;

    &:focus{
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
}

.navbar-default{
    background: none;
    border-bottom: 2px solid #339ACC;

    .navbar-header > a{
        padding-top: 9px;
        font-weight: 500;
        color: #646F80;

        .logo{
            float: left;
            margin-top: 7px;
        }

        span{
            color:#339ACC;
            position: relative;
            top: 15px;
            left: 10px;
        }

        &:focus{
            outline: none;
        }

        &:hover{
            color:#339ACC;
        }
    }

    & .navbar-collapse.collapsing{
        opacity: 0.5;
    }

    & .navbar-collapse.collapse{

        & .navbar-nav > li > a.ativo{
            color:#339ACC;
        }

        & .navbar-nav > li > ul.dropdown-menu{
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

            top: 80%;
            right: -25%;

            &:before{
                content: '\f0d8';
                font-family: FontAwesome;
                color:#ffffff;
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                top: -19px;
                right: 46%;
                text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.195);
            }
        }

    }

    & .navbar-collapse.collapse.in{

        & .navbar-nav > li > a{
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

    & .navbar-nav > li > ul > li > a {
        color: #646F80;
        font-weight: 500;
    }

    & .navbar-nav > li > a{
        color: #646F80;
        font-weight: 500;
        padding-top: 25px;
        padding-bottom: 25px;

        &:hover{
            color:#339ACC;
        }

        &:focus{
            color:#339ACC;
            outline: none;
        }
    }

    & .navbar-nav > .open > a,
    & .navbar-nav > .open > a:hover,
    & .navbar-nav > .open > a:focus{
        color: #339ACC;
        background: none;
    }

}

.form-group{
    span.error{
        color: #a94442;
        margin-top: 7px;
        display: block;
    }
}

.alert-warning{
    color: #8a6d3b;
    background-color: #FCF4BB;
    border-color: #faebcc;
}

.label-danger{
    background-color: #e53935;
}

.label-bloqueado{
    background-color: black;
    color:#ffffff;
}

.label-consulta{
    background-color: #00C89D;
    color:#ffffff;
}

.separador-style01{
    border-bottom: 1px solid #e7ebf3;
    margin: 20px 0 32px;
}

.btn-style06{
    font-family: inherit;
    color: $primary-color;
    border-color: $primary-color;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    &:hover{
        background-color: rgba(20%, 60.4%, 80%, 0.05);
        color: $primary-color;
    }
}

.btn-style07{
    font-family: inherit;
    color: $text-color2;
    border-color: $text-color2;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    &:hover{
        background-color: rgba(58.8%, 63.9%, 71.4%, 0.05);
        color: $text-color2;
    }
}

.btn-style08{
    font-family: inherit;
    color: $text-color3;
    border-color: #cccccc;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    &:hover{
        background-color: rgba(58.8%, 63.9%, 71.4%, 0.05);
        color: $text-color3;
    }
}

.btn-group > .btn + .dropdown-toggle{
    height: 34px;
}

.cor-texto-padrao-2{
    color: $text-color;
}

.texto-style10{
    display: inline-block;
    margin-bottom: 13px;
    font-size: 13px;
    color: #646F80;
    font-weight: 600;
}

.padrao-msg{
    .alert{
        margin-top: 30px;
        margin-bottom: 0;
    }
}

.estilo-padrao{

    .padrao-topo{

        height: 70px;
        line-height: 70px;
        background: #F7F8FB;
        border-bottom: 1px solid #e7ebf3;

        #remover_prontuario{

            &:focus{
                outline: none;
            }
        }

        .breadcrumb{
            padding: 0;
            margin: 0;
            background: none;
            height: 70px;
           
            li{
                height: initial;
                font-size: 17px;

                a{
                    color: $primary-color;
                }

                &.active{
                    color: $text-color;
                }
            }
        }

        .btn-group{
            float: right;
            margin-top: 17px;            
        }
    }

    .padrao-info{
        line-height: 50px;
        height: 50px;
        border-bottom: 1px solid #e7ebf3;
        
        p{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            color: $text-color2;
        }

        .lista-abas{
            display: inline-table;

            li {
                padding: 0;
                margin-right: 20px;

                a{
                    padding: 0 7px;
                    display: block;
                    height: 50px;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    -moz-outline: 0;
                    outline: 0;
                    color: $text-color2;
                }

                &.active{

                    a{
                        color: $primary-color;
                        border-bottom: 1px solid #339ACC;
                    }

                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    .padrao-conteudo{

        .buscando_por{
            margin-bottom: 10px;
            
            span{
                color: #646F80;
                font-weight: 500;
                font-size: 24px;
                margin-top: -13px;
            }

            .panel-default{
                margin-top: 15px;
                background-color: transparent;
                border-radius: 3px;
                box-shadow: none;
                border: 1px solid #CAD0DA;
                min-height: 35px;

                .panel-body{
                    color:#646F80;
                }
            }

        }

        h4{
            margin: 0;
            padding: 0;
        }

        form{
            margin:0;
        }

        .grupo-pront{

            padding: 40px 0;
            color: $text-color;
            border-bottom: 1px solid #e7ebf3;

            textarea{
                resize: vertical;
                -moz-resize: vertical;
            }
            
            h4.title{
                margin: 0;
                font-size: 17px;
                font-weight: 400;
                color: $primary-color;
                margin-bottom: 20px;
                
            }

            .form-group{
                .panel-body{
                    padding: 14px 15px 15px;
                }
            }

            .pront_radio_input{
                margin-right: 10px;
                padding: initial;
                
                & + .pront_radio_input {
                    margin-left: 0;
                }

                input{
                    position: initial;
                    margin: 0;
                    margin-right: 3px;
                }
            }
        }

        .topo-lista-personalizada, .rodape-lista-personalizada{
            width: 100%;
            display: inline-table;
            margin-bottom: 13px;
            font-size: 13px;
            color: $text-color2;
            font-weight: 600;
        }

        .titulo-lista-personalizada{
            font-size: 15px;
            color: $text-color;
            font-weight: 500;

        }

        .info-lista-personalizada{
            font-weight: 400;
            font-size: 13px;
            color: $text-color2;
            display: table;

            ul{
                padding: 0;
                margin: 0;
                list-style-position: inside;

                li{
                    float: left;
                    padding-left: 9px;

                    &:first-child{
                        padding-left: 0;
                        list-style-type: none;
                    }
                }
            }
        }

        .acoes-lista-personalizada{
            margin-top: 3px;
        }

        .padrao-lista{
            padding: 30px 0;

            .padrao-item{

                .panel-body{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .form-group{
                    margin-bottom: 0;
                    float: left;
                    margin-right: 10px;
                    margin-top: 1px;
                }

                .titulo-lista-personalizada{
                    height: 33px;

                    .identificador_unico{
                        float: left;
                        margin-right: 15px;
                        padding-top: 11px;
                    }

                    .tipo_usuario{
                        display: inline-table;
                        float: left;
                        margin-right: 15px;
                        padding-top: 11px;
                    }

                    .nome_usuario{
                        float: left;
                        line-height: 33px;
                    }

                }

                .acoes-lista-personalizada{
                    margin-top: 0px;
                }

                .padrao-lista-info{
                    color: $text-color3;
                    font-weight: 500;
                    font-size: 14px;

                    a.link-local{
                        color: $primary-color;
                        border: none;
                        background: none;

                        &:hover{
                            text-decoration: underline;
                        }

                        &:focus{
                            outline: none;
                        }
                    }

                    span.link-local{
                        color: $primary-color;
                    }

                    .popover-title{
                        color: $text-color;
                        font-size: 15px;
                        font-weight: 500;
                        font-family: $font-family;
                        text-transform: capitalize;
                    }

                }
            }
        }
    }
}

#paciente{

    .falta_modal{

        label{
            font-size: 13px;
            color: #646F80;
        }
        h4{
            color: #363636;
            font-weight: 500;
            font-size: 24px;
        }

        .panel-default{
            .panel-body{
                b{
                    font-weight: 500;
                }
            }
            .panel-footer{
                color:#646F80;
                b{
                    color: #646F80;
                    font-weight: 500;
                    font-size: 14px;
                }

                .texto{
                    line-height: 20px;
                    margin-top: 6px;
                }
            }
        }
    }

    .padrao-lista{
        padding-top: 0;
    }

    .opcoes_topo{
        margin-bottom: 30px;
    }

    .padrao-conteudo .info-lista-personalizada ul li{
        float: initial;
        display: inline
    }

    .por-cento{
        line-height: 33px;
        font-weight: 500;
        color: $text-color2;
        font-size: 15px;
    }

    .label-id-pront{
        background: #A7A7A7;
    }

    .padrao-conteudo{

        .padrao-conteudo-section{
            padding: 20px 0;
        }

    }

    .paciente-ver{
        padding: 10px 0 30px;

        label {
            font-size: 13px;
            color: #646F80;

            &.texto-pequeno{
                font-size: 11px;
                margin-bottom: 8px;
            }
        }

        .panel-default{ 

            background-color: none;
            border-radius: 3px;
            box-shadow: none;
            padding: 12px 15px;
            border: 1px solid #CAD0DA;

            .panel-body{
                padding: 0;
                font-size: 14px;
                font-weight: 400;
                color: #757E8D;
            }
        }
    }

    #consultas{
        .panel-default{
            background-color: transparent;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #CAD0DA;
            min-height: 35px;

            .panel-body{
                color:#646F80;
            }
        }

        .topo-lista-personalizada{
            .consulta-dia{
                color:#646F80;
                font-weight: 500;
                font-size: 24px;

                .label{
                    font-size: 14px;
                    margin-right: 0px;
                    position: relative;
                    top: -4px;
                    background-color: #ddd;
                    color:#646F80;
                }
            }
        }

        .label-hora{
            background-color: #646F80;
            position: relative;
            top: -3px;
        }

        .hora-inicio{
            margin-right: 10px;
            margin-left: 5px;
        }

        .hora-fim{
            margin-left: 10px;
            margin-right: 5px;
        }

        .consulta-horas{
            height: 33px;
            line-height: 33px;

            .icone-direita{
                color: #646F80;
            }

            .hora-inicio, 
            .hora-fim{
                font-size: 15px;
                font-weight: bold;
                color:#646F80;
            }

        }
    }
    
}

.login{
    min-height: 100%;
    background: #3399cc;

    .logo{
        margin:100px auto 10px;
        display: block;
    }

    .logo-nome{
        color:#ffffff;
        font-weight: 500;
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 10px auto 30px;
    }

    .login-form{
        margin-bottom: 200px;

        label{
            font-weight: 500;
            font-size: 15px;
            color:#646F80;
        }

        padding: 40px;
        width: 100%;
        min-height: 240px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        background-color: #ffffff;
    }
}

.usuario{

    label {
        font-size: 13px;
        color: #646F80;
    }

    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;
        }
    }

    #vincular-paciente{

        label{
            font-size: 13px;
            color: #646F80;
        }

        #pacientes_vinculados{
            li {
                border-color: #CAD0DA;
                color: #757E8D;
                padding: 15px 20px;


                .botao_rm{
                    float: right;
                    display: inline-block;
                    min-width: 10px;
                    padding: 5px 7px;
                    font-size: 12px;
                    margin-top: -1px;
                    cursor: pointer;
                    font-weight: bold;
                    color: #ffffff;
                    line-height: 1;
                    vertical-align: baseline;
                    white-space: nowrap;
                    text-align: center;
                    background-color: #777777;
                    border-radius: 3px;
                }
            }
        }

    }

}

#meu-perfil{

    .form-group{
        label {
            font-size: 13px;
            color: #646F80;
        }
    }

    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;
        }
    }
}

#candidato{

    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;
        }
    }

    .alta_modal{
        label {
            font-size: 13px;
            color: #646F80;
        }

        h4{
            color: #363636;
            font-weight: 500;
            font-size: 24px;
        }

         .panel-default{
            background-color: transparent;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #CAD0DA;
            min-height: 35px;

            .panel-body{
                color:#646F80;
            }
        }
    }

    .padrao-info{

        .tipo_cadastro{
            display: initial;
            position: relative;
            top: -1px;
        }

    }
    
    .buscar-candidato{
        margin-top: 30px;
    }

    .filtrar-candidato{
        margin-top: 30px;
    }

    .padrao-lista{
        padding-top: 0;
        margin-top: 20px;
    }

    .candidato-ver{
        padding: 30px 0;

       label {
            font-size: 13px;
            color: #646F80;

            &.texto-pequeno{
                font-size: 11px;
                margin-bottom: 8px;
            }
        }

        .panel-default{ 

            background-color: none;
            border-radius: 3px;
            box-shadow: none;
            padding: 12px 15px;
            border: 1px solid #CAD0DA;

            .panel-body{
                padding: 0;
                font-size: 14px;
                font-weight: 400;
                color: #757E8D;
            }
        }
    }

    .informacao-de-datas{
        border-top: 1px solid #e7ebf3;

        .info-lista-personalizada{
            margin: 0 auto;
        }
    }

}

#prontuario{
    .info-lista-personalizada{
        margin: 0 auto;
    }

    .prontuario-metadata{
        text-align: center;
        ul.datas{
            li{
                border: none;
            }
        }
    }

    .prontuario_bloqueado{
        margin-top: 18px;
    }

    .prontuario-consultar{

        .panel-default{
            padding: 0px 8px 8px 9px;
            min-height: 35px;

            .panel-footer{
                margin-top: 10px;
            }
        }

        .panel-body.sem-opcao{
            padding: 14px 15px 7px 8px;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;

            li{
                display: inline-block;
                border:1px solid #D3D9E4;
                padding: 5px 10px;
                border-radius: 3px;
                color: #646F80;
                font-size: 13px;
                font-weight: 400;
                margin-top: 9px;
            }
        }

    }

    label {
        font-size: 13px;
        color: #646F80;

        &.texto-pequeno{
            font-size: 11px;
            margin-bottom: 8px;
        }
    }

    .panel-default{ 

        background-color: none;
        border-radius: 3px;
        box-shadow: none;
        padding: 12px 15px;
        border: 1px solid #CAD0DA;

        .panel-body{
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            color: #757E8D;

        }

        .panel-footer{
            padding: 0;
            border-top: none;
            margin-top: 13px;
            margin-bottom: 2px;

            .input-group-addon{
                background: none;
                border-color:#CAD0DA;
            }

            input{
                background: #ffffff;
            }
        }
    }
}

#configuracoes{

    .no-padding-top{
        padding-top: 0;
    }

    .no-border-bottom{
        border-bottom: none;
    }

    .campos-perso{
        padding: 40px 0;
        color: #363636;
        border-bottom: 1px solid #e7ebf3;

        .cinza{
            color: #646F80; 
        }
    }

    .quadrado-redondo{
        display: block;
        color:#757E8D;
        margin-bottom: -1px;
        min-height: 52px;
        border: 1px solid #CAD0DA;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 8px 15px 8px 15px;

        button{
            float: right;
            margin-right: -7px;
        }

        label{
            font-size: 13px;
            margin-top: 7px;
            color: #646F80;
        }
    }

    .grupo-campo-perso{
        label{
            font-size: 13px;
            color: #646F80; 
        }

        .opcao{
            margin-top: 10px;

            &:first-child{
                margin-top: 0;
            }
            .input-group-addon{
                border-left: none;
                label{
                    cursor: pointer;
                    font-size: 12px;
                    color: #757E8D;
                    margin-bottom: 0;
                }
            }
            .opcao_remover{
                padding: 1px 0;
                color: #757E8D;
                font-size: 18px;
            }
        }

        .panel-default{ 
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #CAD0DA;

            .panel-body{
                font-size: 14px;
                font-weight: 400;
                color: #757E8D;
            }

            .panel-footer{
                border-color: #CAD0DA;
            }
        }
    }

    .config-horario-section{

        label {
            font-size: 13px;
            color: #646F80;
        }
        
        #horarios_lista{
            padding-left: 0;
            margin-bottom: 20px;

            li.horario-item{
                display: block;
                color:#757E8D;
                margin-bottom: -1px;
                min-height: 50px;
                border: 1px solid #CAD0DA;
                background-color: #ffffff;
                //border-radius: 4px;

                &.nenhum{
                    padding: 15px 20px;
                }

                &:first-child {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                span.horario-item-nome{
                    display: table;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 40px 0 20px;
                    float: left;
                    font-weight: 500;
                }

                div.horario-item-inputs{
                    padding: 11px 0;
                    display: table;

                    .icone-direita{
                        margin-left: 20px;
                    }

                    .horario-item-inicio,
                    .horario-item-fim{
                        display: inline;

                        input{
                            border: 1px solid #ccc;
                            padding: 3px 3px;
                            width: 85px;
                            margin-left: 10px;
                            cursor: pointer;
                            text-align: center;
                            border-radius: 4px;
                        }
                    }

                    .horario-item-inicio{
                        margin-left: 3px;
                    }

                    .horario-item-fim{
                        margin-left: 20px;
                    }
                }

                div.horario-item-remover{
                    text-align: right;
                    padding: 15.5px 0;

                    .remover{
                        margin-right: 20px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}

#consulta{

    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;
        }
    }

    .topo-lista-personalizada{
        .consulta-dia{
            color:#646F80;
            font-weight: 500;
            font-size: 24px;

            .label{
                font-size: 14px;
                margin-right: 0px;
                position: relative;
                top: -4px;
                background-color: #ddd;
                color:#646F80;
            }
        }
    }

    .label-hora{
        background-color: #646F80;
        position: relative;
        top: -3px;
    }

    .hora-inicio{
        margin-right: 10px;
        margin-left: 5px;
    }

    .hora-fim{
        margin-left: 10px;
        margin-right: 5px;
    }

    .consulta-horas{
        height: 33px;
        line-height: 33px;

        .icone-direita{
            color: #646F80;
        }

        .hora-inicio, 
        .hora-fim{
            font-size: 15px;
            font-weight: bold;
            color:#646F80;
        }

    }

    .filtrar-lista{
        margin-top: 30px;

        .titulo{
            color:#646F80;
            font-weight: bold;
            font-size: 13px;
            display: inline-block;
            margin-bottom: 13px;
        }
    }

    .consulta_horario{
        label{
            font-size: 13px;
            color: #646F80;
        }
    }

    .horario_consulta_topo{
        border: 1px solid #ffffff;
        padding: 0px 15px;
    }

    .consulta_horario_item{

        span.error{
            color: #a94442;
            margin-top: 7px;
            display: block;
        }

        margin-bottom: 15px;
        display: block;
        color: #757E8D;
        min-height: 52px;
        border: 1px solid #CAD0DA;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 11px 15px;

        .consulta_horario_campo_hora{
            width: 100px;
        }      

        .consulta_horario_campo_data{
            width: 200px;
        }

        .opcao_remover{
            font-size: 18px;
            color:#757E8D;
            line-height: 32px;
            cursor: pointer;
            margin-left: 20px;
        }

        .table-content{
            line-height: 32px;
            font-weight: 500;
            
        }
    }

}

#bateria {
    .bateria-ver{
        label{
            font-size: 13px;
            color: #646F80; 
        }
    }
    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;

             
        }

        &.users-bateria{

            .panel-body{
                padding: 10px;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;

                li{
                    display: inline-block;
                    border:1px solid #D3D9E4;
                    padding: 5px 10px;
                    border-radius: 3px;
                    color: #646F80;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }
}

#inicio{
    margin-top: 30px;

    .panel-default{
        background-color: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #CAD0DA;
        min-height: 35px;

        .panel-body{
            color:#646F80;
        }
    }

    .data-hoje{
        .dia-da-semana{
            color:#939EAE;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin-top: 40px;
        }

        .numero-dia,
        .mes-com-ano{
            font-weight: 500;
            color:#646F80;
            text-align: center;
        }
        
        .mes-com-ano{
            font-size: 30px;
            margin-bottom: 40px;
        }

        .numero-dia{
            font-size: 80px;
            margin: 15px 0;
        }
    }

    .inicio-bateria{
        
        .titulo{
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            font-size: 14px;
            color:#646F80;
        }

        .nome-bateria{
            text-align: center;
            margin-top: 5px;
            font-size: 20px;
            color:#A0AABB;
            font-weight: 500;
        }

        .bloqueada-bateria{
            margin: 10px auto 5px; 
            display: table;
        }

        .panel-footer{
            padding: 15px 15px;
            .titulo{
                text-align: center;
            }

            .bateria-data{
                text-align: center;
                margin-top: 3px;
                color:#646F80;
                font-weight: 500;
                font-size: 13px;
            }
        }
    }

    .lista-padrao{

        &.lista-prontuarios{
            margin-top: 30px;
        }

        .panel-default{
        margin-bottom: 13px;

            .panel-body{
                padding: 10px 15px;
            }
        }

        .topo-lista{
            height: 34px;
            line-height: 34px;
            margin-bottom: 15px;
            .titulo{
                font-weight: 500;
                font-size: 24px;
                color:#646F80;
            }

            .btn{
                float: right;
            }
        }

        .lista-item{

            .btns{
                float: right; 
            }

            .nome{
                font-weight: 500;
                line-height: 33px;

                a{
                    cursor: pointer;
                    font-weight: 500;
                    line-height: 33px;
                    color:#646F80;
                    border-bottom: 1px dotted #ccc;

                    &:hover{
                        text-decoration: none;
                        border-bottom: 1px dotted #646F80;
                    }
                }
            }

            .data{
                line-height: 33px;

                .label{
                    position: absolute;
                }
                .label-hoje{
                    background-color: #DC4949;
                    top: 9px;
                    left: 32px;
                }

                .label-amanha{
                    background-color: #EDA657;
                    top: 9px;
                }

                span.data-numeros{
                    font-weight: 500;
                    margin-left: 60px;
                }
            }

            .completado{
                line-height: 33px;

                .label{
                    position: absolute;
                }
                
                .label-bloqueado{
                    background-color: #000;
                    top: 9px;
                    left: 0px;
                }
                
                span.completado-numeros{
                    font-weight: 500;
                    margin-left: 60px;
                }
            }

            .horas{
                line-height: 33px;
                display: inline-table;
                .label-hora{
                    background-color: #646F80;
                    position: relative;
                    top: -2px;
                }

                .hora-inicio{
                    margin-left: 6px;
                    margin-right: 6px;
                }

                .hora-fim{
                    margin-left: 6px;
                    margin-right: 6px;
                }

                .hora-inicio,
                .hora-fim{
                    font-weight: bold;
                }
            }

            .botao{
                float: right;
            }

        } // lista-item

    } // lista-padrao

}

#usuario{

    .buscar-usuario{
        margin-top: 30px;

        .form-group{
            margin-bottom: 0;
        }
    }

    .falta_modal{
        h4{
            color: #363636;
            font-weight: 500;
            font-size: 24px;
        }

        .panel-default{
            .panel-body{
                b{
                    font-weight: 500;
                }
            }
            .panel-footer{
                color:#646F80;
                b{
                    color: #646F80;
                    font-weight: 500;
                    font-size: 14px;
                }

                .texto{
                    line-height: 20px;
                    margin-top: 6px;
                }
            }
        }
    }

}